/** HEADER **/

#logo,
.tape {
  display: block;
  margin: 0 auto;
  backface-visibility: hidden;
  mix-blend-mode: hard-light;
}
#logo {
  height: 15vh;
  display: none;
  margin-top: 30px;
  min-height: 100px;
}
.tape {
  display: block;
  margin-bottom: 30px;
}
h1 {
  font-size: 46px;
  margin: 24px 0 0px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
#blueprint_-_copie {
  animation: float 6s ease-in-out infinite;
}
#Calque_1 {
  animation: shadowscale 6s ease-in-out infinite;
  transform-origin: center;
}
