/** BACKGROUNDS **/

.morning {
  & .glitch:after,
  & .glitch:before {
    background-color: $daytime-morning-bgc2;
  }
}
.afternoon {
  & .glitch:after,
  & .glitch:before {
    background-color: $daytime-afternoon-bgc1;
  }
}
.evening {
  & .glitch:after,
  & .glitch:before {
    background-color: $daytime-evening-bgc1;
  }
}
.night {
  & .glitch:after,
  & .glitch:before {
    background-color: $daytime-night-bgc1;
  }
}
.body_background {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .9s ease-in-out;
  z-index: -1;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @at-root &--morning {
    background-image: linear-gradient(
      to top,
      $daytime-morning-bgc1 0%,
      $daytime-morning-bgc2 100%
    );
  }
  @at-root &--afternoon {
    background-image: linear-gradient(
      to top,
      $daytime-afternoon-bgc1 0%,
      $daytime-afternoon-bgc2 60%,
      $daytime-afternoon-bgc3 100%
    );
  }
  @at-root &--evening {
    background-image: linear-gradient(
      to top,
      $daytime-evening-bgc1 0%,
      $daytime-evening-bgc2 100%
    );
  }
  @at-root &--night {
    background-image: linear-gradient(
      to top,
      $daytime-night-bgc1 0%,
      $daytime-night-bgc2 100%
    );
  }
}

h1,
.card,
.card:before,
.card:after,
.card__artist,
.card__title,
.card__cover,
.card__cover:before,
.card__content:before,
.btn,
.btn:hover,
.btn:focus,
.btn.active
 {
  transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

h1 {
    text-shadow: 0 4px 0px $daytime-morning-bgc1, 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .card__artist {
    color: $daytime-morning-bgc1;
  }

  .card__content:before {
   color: $daytime-morning-bgc2; 
  }

  .card__title,.btn {
    text-shadow: 0 2px 0px $daytime-morning-bgc1, 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .card__cover:before {
    background-color: $daytime-morning-bgc2;
    opacity: .5;
  }
  .btn {
    &:hover,
    &:focus,
    &.active {
      background-color: $daytime-morning-bgc1;
    }
  }

.morning {

  h1 {
    text-shadow: 0 4px 0px $daytime-morning-bgc1, 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .card__artist {
    color: $daytime-morning-bgc1;
  }

  .card__content:before {
   color: $daytime-morning-bgc1; 
  }

  .card__title,.btn {
    text-shadow: 0 2px 0px $daytime-morning-bgc1, 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .card__cover:before {
    background-color: darken($daytime-morning-bgc1,40%);
    opacity: .5;
  }
  .btn {
    &:hover,
    &:focus,
    &.active {
      background-color: $daytime-morning-bgc1;
    }
  }
}

.afternoon {
  h1 {
    text-shadow: 0 4px 0px $daytime-afternoon-bgc1, 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .card__artist {
    color: $daytime-afternoon-bgc3;
  }
  .card__content:before {
    color:$daytime-afternoon-bgc1;
  }

  .card__title,.btn {
    text-shadow: 0 2px 0px $daytime-afternoon-bgc1, 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .card__cover:before {
    background-color: darken($daytime-afternoon-bgc1,40%);
    opacity: .5;
  }
  .btn {
    &:hover,
    &:focus,
    &.active {
      background-color: $daytime-afternoon-bgc1;
    }
  }
}

.evening {
  h1 {
    text-shadow: 0 4px 0px $daytime-evening-bgc1, 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .card__artist {
    color: $daytime-evening-bgc1;
  }
  .card__content:before {
    color: $daytime-evening-bgc2;
  }

  .card__title,.btn {
    text-shadow: 0 2px 0px $daytime-evening-bgc1, 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .card__cover:before {
    background-color: darken($daytime-evening-bgc2,60%);
    opacity: .5;
  }
  .btn {
    &:hover,
    &:focus,
    &.active {
      background-color: $daytime-evening-bgc1;
    }
  }
}

.night {
  h1 {
    text-shadow: 0 4px 0px $daytime-night-bgc1, 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .card__artist {
    color: $daytime-night-bgc1;
  }
  .card__content:before {
    color: $daytime-night-bgc2;
  }

  .card__title,.btn {
    text-shadow: 0 2px 0px $daytime-night-bgc1, 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .card__cover:before {
    background-color: $daytime-night-bgc2;
    opacity: .5;
  }
  .btn {
    &:hover,
    &:focus,
    &.active {
      background-color: $daytime-night-bgc1;
    }
  }
}
