/** ANIMATIONS **/

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes shadowscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
  transform-origin: center;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 13px, 0);
  }
  10% {
    clip: rect(65px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(16px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(11px, 9999px, 39px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 13px, 0);
  }
  30% {
    clip: rect(63px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  40% {
    clip: rect(36px, 9999px, 65px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 44px, 0);
  }
  50% {
    clip: rect(96px, 9999px, 4px, 0);
  }
  55% {
    clip: rect(65px, 9999px, 92px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 25px, 0);
  }
  65% {
    clip: rect(34px, 9999px, 12px, 0);
  }
  70% {
    clip: rect(7px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(16px, 9999px, 33px, 0);
  }
  80% {
    clip: rect(46px, 9999px, 53px, 0);
  }
  85% {
    clip: rect(65px, 9999px, 59px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 1px, 0);
  }
  95% {
    clip: rect(61px, 9999px, 4px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 32px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(101px, 9999px, 193px, 0);
  }
  5% {
    clip: rect(43px, 9999px, 179px, 0);
  }
  10% {
    clip: rect(89px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(118px, 9999px, 21px, 0);
  }
  20% {
    clip: rect(133px, 9999px, 88px, 0);
  }
  25% {
    clip: rect(172px, 9999px, 129px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 156px, 0);
  }
  35% {
    clip: rect(78px, 9999px, 151px, 0);
  }
  40% {
    clip: rect(3px, 9999px, 164px, 0);
  }
  45% {
    clip: rect(47px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(84px, 9999px, 188px, 0);
  }
  55% {
    clip: rect(189px, 9999px, 37px, 0);
  }
  60% {
    clip: rect(142px, 9999px, 101px, 0);
  }
  65% {
    clip: rect(12px, 9999px, 153px, 0);
  }
  70% {
    clip: rect(23px, 9999px, 13px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(39px, 9999px, 150px, 0);
  }
  85% {
    clip: rect(161px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(28px, 9999px, 44px, 0);
  }
  95% {
    clip: rect(121px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(120px, 9999px, 98px, 0);
  }
}

.loading {
  -webkit-animation: loading 10s linear infinite;
  -moz-animation: loading 10s linear infinite;
  -ms-animation: loading 10s linear infinite;
  -o-animation: loading 10s linear infinite;
  animation: loading 10s linear infinite;
  transform-origin: center;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin:center left;
  }
  49.9% {
    transform-origin:center left; 
  }
  50% {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
  50.1% {
   transform-origin:center right; 
  }
  100% {
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin:center right;
  }
}

.enterLeft {
  -webkit-animation: enterLeft 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-animation: enterLeft 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -ms-animation: enterLeft 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-animation: enterLeft 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  animation: enterLeft 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transform-origin: center;
}

@-webkit-keyframes enterLeft {
  0% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transform-origin:center bottom;
  }
  
  50% {
    -webkit-transform: translateX(calc(-60vw - 170px));
    -o-transform: translateX(calc(-60vw - 170px));
    transform: translateX(calc(-60vw - 170px));
  }
  100% {
   -webkit-transform: translateX(2vw);
    -o-transform: translateX(2vw);
    transform: translateX(2vw);
  }
}

.exitRight {
  -webkit-animation: exitRight 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-animation: exitRight 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -ms-animation: exitRight 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-animation: exitRight 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  animation: exitRight 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transform-origin: center;
}

@-webkit-keyframes exitRight {
  0% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transform-origin:center bottom;
  }
  
  50% {
   -webkit-transform: translateX(-2vw);
    -o-transform: translateX(-2vw);
    transform: translateX(-2vw);
  }
  100% {
    -webkit-transform: translateX(calc(60vw + 170px));
    -o-transform: translateX(calc(60vw + 170px));
    transform: translateX(calc(60vw + 170px));
  }
}

