/** FONTS **/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800");
/** BASE **/
body {
  font-family: 'Montserrat','Helvetica Neue',Helvetica,sans-serif;
  text-align: center;
  color: #fff;
  background-color: #000;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex; }

header {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 20px;
  position: relative; }

main {
  flex: 1; }

.container {
  margin: 0 auto;
  font-family: 'Proxima Nova', sans-serif; }

/** BACKGROUNDS **/
.morning .glitch:after,
.morning .glitch:before {
  background-color: #72afd3; }

.afternoon .glitch:after,
.afternoon .glitch:before {
  background-color: #4facfe; }

.evening .glitch:after,
.evening .glitch:before {
  background-color: #fee140; }

.night .glitch:after,
.night .glitch:before {
  background-color: #d43f8d; }

.body_background {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .9s ease-in-out;
  z-index: -1;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: opacity; }
  .body_background.active {
    opacity: 1;
    visibility: visible; }
  .body_background--morning {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); }
  .body_background--afternoon {
    background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 60%, #1cf7c5 100%); }
  .body_background--evening {
    background-image: linear-gradient(to top, #fee140 0%, #fa709a 100%); }
  .body_background--night {
    background-image: linear-gradient(to top, #d43f8d 0%, #2f1b61 100%); }

h1,
.card,
.card:before,
.card:after,
.card__artist,
.card__title,
.card__cover,
.card__cover:before,
.card__content:before,
.btn,
.btn:hover,
.btn:focus,
.btn.active {
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1); }

h1 {
  text-shadow: 0 4px 0px #37ecba, 0 0 5px rgba(0, 0, 0, 0.2); }

.card__artist {
  color: #37ecba; }

.card__content:before {
  color: #72afd3; }

.card__title, .btn {
  text-shadow: 0 2px 0px #37ecba, 0 0 1px rgba(0, 0, 0, 0.5); }

.card__cover:before {
  background-color: #72afd3;
  opacity: .5; }

.btn:hover, .btn:focus, .btn.active {
  background-color: #37ecba; }

.morning h1 {
  text-shadow: 0 -1px 0px #37ecba, 1px -1px 0px #37ecba, 2px -2px 0px #37ecba, 3px -2px 0px #37ecba, 4px -3px 0px #37ecba; }

.morning .card__artist {
  color: #37ecba; }

.morning .card__content:before {
  color: #37ecba; }

.morning .card__title, .morning .btn {
  text-shadow: 0 2px 0px #37ecba, 0 0 1px rgba(0, 0, 0, 0.5); }

.morning .card__cover:before {
  background-color: #084f3c;
  opacity: .5; }

.morning .btn:hover, .morning .btn:focus, .morning .btn.active {
  background-color: #37ecba; }

.afternoon h1 {
  text-shadow: 0 1px 0px #4facfe, 1px 2px 0px #4facfe, 1px 3px 0px #4facfe, 2px 4px 0px #4facfe, 2px 5px 0px #4facfe; }

.afternoon .card__artist {
  color: #1cf7c5; }

.afternoon .card__content:before {
  color: #4facfe; }

.afternoon .card__title, .afternoon .btn {
  text-shadow: 0 2px 0px #4facfe, 0 0 1px rgba(0, 0, 0, 0.5); }

.afternoon .card__cover:before {
  background-color: #014580;
  opacity: .5; }

.afternoon .btn:hover, .afternoon .btn:focus, .afternoon .btn.active {
  background-color: #4facfe; }

.evening h1 {
  text-shadow: 0 1px 0px #fee140, -1px 2px 0px #fee140, -1px 3px 0px #fee140, -2px 4px 0px #fee140, -2px 5px 0px #fee140; }

.evening .card__artist {
  color: #fee140; }

.evening .card__content:before {
  color: #fa709a; }

.evening .card__title, .evening .btn {
  text-shadow: 0 2px 0px #fee140, 0 0 1px rgba(0, 0, 0, 0.5); }

.evening .card__cover:before {
  background-color: #360212;
  opacity: .5; }

.evening .btn:hover, .evening .btn:focus, .evening .btn.active {
  background-color: #fee140; }

.night h1 {
  text-shadow: 0 -1px 0px #d43f8d, -1px -1px 0px #d43f8d, -2px -2px 0px #d43f8d, -3px -2px 0px #d43f8d, -4px -3px 0px #d43f8d; }

.night .card__artist {
  color: #d43f8d; }

.night .card__content:before {
  color: #2f1b61; }

.night .card__title, .night .btn {
  text-shadow: 0 2px 0px #d43f8d, 0 0 1px rgba(0, 0, 0, 0.5); }

.night .card__cover:before {
  background-color: #2f1b61;
  opacity: .5; }

.night .btn:hover, .night .btn:focus, .night .btn.active {
  background-color: #d43f8d; }

/** BUTTONS **/
.btn {
  font-family: 'Montserrat', Arial, sans-serif;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s all ease-in-out;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.05);
  padding: 32px;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2); }

/** CARDS **/
.card {
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-basis: calc(50% - 20px);
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.5s all ease;
  position: relative;
  margin: 0 0 20px;
  will-change: transform;
  counter-increment: chart; }
  .card:before, .card:after {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: rgba(255, 255, 255, 0.2); }
  .card:before {
    width: 10px;
    height: 1px;
    bottom: -11px;
    right: -16px; }
  .card:after {
    width: 1px;
    height: 10px;
    right: -12px;
    bottom: -16px; }
  .card .card__cover-wrapper {
    overflow: hidden; }
  .card:hover {
    cursor: pointer;
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.2); }
    .card:hover .card__cover {
      transform: scale(1); }
      .card:hover .card__cover:before {
        opacity: 0; }
    .card:hover:before {
      width: 16px;
      right: -19px; }
    .card:hover:after {
      height: 16px;
      bottom: -19px; }
  .card:active {
    transform: translate3d(0px, 1px, 2px); }
  .card__cover {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-color: #332f38;
    transform: scale(1.3);
    position: relative;
    will-change: transform; }
    .card__cover:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(95, 50, 153, 0.5);
      will-change: opacity; }
  .card__content {
    margin-top: 5px;
    text-align: left;
    padding: 10px 15px 15px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0; }
    .card__content:before {
      content: counter(chart);
      position: absolute;
      bottom: 15px;
      left: 15px;
      width: 20px;
      height: 20px;
      background: #fff;
      z-index: 0;
      border-radius: 1px;
      color: black;
      line-height: 20px;
      text-align: center;
      font-size: 14px; }
  .card__title {
    display: block;
    font-weight: 500;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 0 2px 0px #000;
    letter-spacing: -2px;
    font-size: 21px;
    line-height: 1;
    white-space: normal; }
  .card__artist {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0px 1Px 0 rgba(255, 255, 255, 0.25);
    position: relative; }
  .card__date {
    display: block;
    font-size: 12px;
    color: #7f8c8d;
    font-weight: normal; }

/** TRACKLIST **/
.trackList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  counter-reset: chart; }

.trackList.owl-carousel {
  display: block; }

.trackList .owl-theme .owl-nav [class*=owl-],
.trackList .owl-theme .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1); }

.trackList .owl-theme .owl-nav [class*=owl-]:hover,
.trackList .owl-theme .owl-dots .owl-dot:hover span,
.trackList .owl-theme .owl-dots .owl-dot.active span {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1); }

/** ANIMATIONS **/
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0); } }

@keyframes scanlines {
  0% {
    background-position: 0 50%; } }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }

@keyframes shadowscale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
  transform-origin: center; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 60px, 0); }
  5% {
    clip: rect(80px, 9999px, 13px, 0); }
  10% {
    clip: rect(65px, 9999px, 67px, 0); }
  15% {
    clip: rect(16px, 9999px, 66px, 0); }
  20% {
    clip: rect(11px, 9999px, 39px, 0); }
  25% {
    clip: rect(28px, 9999px, 13px, 0); }
  30% {
    clip: rect(63px, 9999px, 94px, 0); }
  35% {
    clip: rect(11px, 9999px, 91px, 0); }
  40% {
    clip: rect(36px, 9999px, 65px, 0); }
  45% {
    clip: rect(43px, 9999px, 44px, 0); }
  50% {
    clip: rect(96px, 9999px, 4px, 0); }
  55% {
    clip: rect(65px, 9999px, 92px, 0); }
  60% {
    clip: rect(26px, 9999px, 25px, 0); }
  65% {
    clip: rect(34px, 9999px, 12px, 0); }
  70% {
    clip: rect(7px, 9999px, 73px, 0); }
  75% {
    clip: rect(16px, 9999px, 33px, 0); }
  80% {
    clip: rect(46px, 9999px, 53px, 0); }
  85% {
    clip: rect(65px, 9999px, 59px, 0); }
  90% {
    clip: rect(96px, 9999px, 1px, 0); }
  95% {
    clip: rect(61px, 9999px, 4px, 0); }
  100% {
    clip: rect(78px, 9999px, 32px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(101px, 9999px, 193px, 0); }
  5% {
    clip: rect(43px, 9999px, 179px, 0); }
  10% {
    clip: rect(89px, 9999px, 90px, 0); }
  15% {
    clip: rect(118px, 9999px, 21px, 0); }
  20% {
    clip: rect(133px, 9999px, 88px, 0); }
  25% {
    clip: rect(172px, 9999px, 129px, 0); }
  30% {
    clip: rect(92px, 9999px, 156px, 0); }
  35% {
    clip: rect(78px, 9999px, 151px, 0); }
  40% {
    clip: rect(3px, 9999px, 164px, 0); }
  45% {
    clip: rect(47px, 9999px, 83px, 0); }
  50% {
    clip: rect(84px, 9999px, 188px, 0); }
  55% {
    clip: rect(189px, 9999px, 37px, 0); }
  60% {
    clip: rect(142px, 9999px, 101px, 0); }
  65% {
    clip: rect(12px, 9999px, 153px, 0); }
  70% {
    clip: rect(23px, 9999px, 13px, 0); }
  75% {
    clip: rect(66px, 9999px, 70px, 0); }
  80% {
    clip: rect(39px, 9999px, 150px, 0); }
  85% {
    clip: rect(161px, 9999px, 93px, 0); }
  90% {
    clip: rect(28px, 9999px, 44px, 0); }
  95% {
    clip: rect(121px, 9999px, 51px, 0); }
  100% {
    clip: rect(120px, 9999px, 98px, 0); } }

.loading {
  -webkit-animation: loading 10s linear infinite;
  -moz-animation: loading 10s linear infinite;
  -ms-animation: loading 10s linear infinite;
  -o-animation: loading 10s linear infinite;
  animation: loading 10s linear infinite;
  transform-origin: center; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: center left; }
  49.9% {
    transform-origin: center left; }
  50% {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); }
  50.1% {
    transform-origin: center right; }
  100% {
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: center right; } }

.enterLeft {
  -webkit-animation: enterLeft 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-animation: enterLeft 1s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-animation: enterLeft 1s cubic-bezier(0.86, 0, 0.07, 1);
  -o-animation: enterLeft 1s cubic-bezier(0.86, 0, 0.07, 1);
  animation: enterLeft 1s cubic-bezier(0.86, 0, 0.07, 1);
  transform-origin: center; }

@-webkit-keyframes enterLeft {
  0% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transform-origin: center bottom; }
  50% {
    -webkit-transform: translateX(calc(-60vw - 170px));
    -o-transform: translateX(calc(-60vw - 170px));
    transform: translateX(calc(-60vw - 170px)); }
  100% {
    -webkit-transform: translateX(2vw);
    -o-transform: translateX(2vw);
    transform: translateX(2vw); } }

.exitRight {
  -webkit-animation: exitRight 1s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-animation: exitRight 1s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-animation: exitRight 1s cubic-bezier(0.86, 0, 0.07, 1);
  -o-animation: exitRight 1s cubic-bezier(0.86, 0, 0.07, 1);
  animation: exitRight 1s cubic-bezier(0.86, 0, 0.07, 1);
  transform-origin: center; }

@-webkit-keyframes exitRight {
  0% {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transform-origin: center bottom; }
  50% {
    -webkit-transform: translateX(-2vw);
    -o-transform: translateX(-2vw);
    transform: translateX(-2vw); }
  100% {
    -webkit-transform: translateX(calc(60vw + 170px));
    -o-transform: translateX(calc(60vw + 170px));
    transform: translateX(calc(60vw + 170px)); } }

/** EFFECTS **/
.scanlines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute; }

.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 6s linear infinite; }

.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  animation: scanlines 1s steps(60) infinite; }

.glitch {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  position: relative;
  margin: 0; }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #5ee7df;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #5ee7df;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

/** HEADER **/
#logo,
.tape {
  display: block;
  margin: 0 auto;
  backface-visibility: hidden;
  mix-blend-mode: hard-light; }

#logo {
  height: 15vh;
  display: none;
  margin-top: 30px;
  min-height: 100px; }

.tape {
  display: block;
  margin-bottom: 30px; }

h1 {
  font-size: 46px;
  margin: 24px 0 0px;
  text-transform: uppercase;
  letter-spacing: -2px; }

#blueprint_-_copie {
  animation: float 6s ease-in-out infinite; }

#Calque_1 {
  animation: shadowscale 6s ease-in-out infinite;
  transform-origin: center; }

/** LAYOUT **/
.menu {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  .menu .btn {
    flex: 1; }

.wrapper {
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 48px auto 100px;
  width: 100vw;
  height: 100vh; }

header {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3; }

.tape {
  max-width: 100%; }

main {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3; }

footer {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 1; }

.loading__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s cubic-bezier(1, 0.01, 0, 0.99); }
  .loading__wrapper.loaded, .loading__wrapper.loaded:before {
    transform: translateX(100%); }
  .loading__wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.8s cubic-bezier(1, 0.01, 0, 0.99);
    z-index: -1;
    transition-delay: .3s; }
  .loading__wrapper .loading__text {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0;
    display: inline-block;
    position: relative; }
    .loading__wrapper .loading__text:before {
      content: '';
      display: block;
      left: -15px;
      right: -15px;
      bottom: 0;
      top: 0;
      /* height: 100%; */
      background-color: #383838;
      position: absolute;
      z-index: -1;
      animation: loading 2s cubic-bezier(1, 0.01, 0, 0.99) infinite; }

.trackList.display--row .card {
  flex-direction: row;
  flex-basis: calc(100%);
  justify-content: baseline; }

.trackList.display--column .card {
  flex-direction: column;
  flex-basis: calc(16.6666% - 20px); }

@media screen and (max-width: 2000px) {
  .trackList.display--row .card {
    flex-direction: row;
    flex-basis: calc(100%);
    justify-content: baseline; }
  .trackList.display--column .card {
    flex-direction: column;
    flex-basis: calc(20% - 20px); } }

@media screen and (max-width: 1200px) {
  .trackList.display--row .card {
    flex-direction: row;
    flex-basis: calc(100%);
    justify-content: baseline; }
  .trackList.display--column .card {
    flex-direction: column;
    flex-basis: calc(25% - 20px); } }

@media screen and (max-width: 1023px) {
  .trackList.display--row .card {
    flex-direction: row;
    flex-basis: calc(100%);
    justify-content: baseline; }
  .trackList.display--column .card {
    flex-direction: column;
    flex-basis: calc(33.3333% - 14px); } }

@media screen and (max-width: 970px) {
  body {
    border-top: 10px solid white; }
  .wrapper {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 200px auto 100px;
    width: 100vw;
    height: 100vh; }
  header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; }
  .menu {
    background: rgba(255, 255, 255, 0.1); }
  main {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3; }
  footer {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3; }
  .tape {
    display: block;
    margin-bottom: 30px; }
  .btn {
    padding: 16px; } }

@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px auto 100px;
    width: 100vw;
    height: 100vh; }
  .trackList.display--column .card {
    flex-direction: column;
    flex-basis: calc(50% - 10px); }
  .btn {
    padding: 16px; }
  .card__title {
    font-size: 27px; } }

@media screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column; }
  .trackList.display--column .card {
    flex-direction: column;
    flex-basis: calc(100%); }
  .btn {
    padding: 10px 0;
    cursor: pointer;
    font-size: 14px; } }

/** FOOTER **/
.baseline {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800; }
