/** BASE **/

body {
  text-align: center;
  color: #fff;
  background-color: #000;
  position: relative;
  padding: 0 0 100px;
  margin: 0;
}

.container {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  max-width: 500px;
}
