// COLORS

// Morning
$daytime-morning-bgc1: #37ecba;
$daytime-morning-bgc2: #72afd3;

// Afternoon
$daytime-afternoon-bgc1: #4facfe;
$daytime-afternoon-bgc2: #00f2fe;
$daytime-afternoon-bgc3: #fbffe6;

// Evening
$daytime-evening-bgc1: #fee140;
$daytime-evening-bgc2: #fa709a;

// Night
$daytime-night-bgc1: #d43f8d;
$daytime-night-bgc2: #1b3761;

// Cards

$card-date-color: #7f8c8d;
